select {
    background-color: var(--black);
    border: none;
    outline: none;
    padding: 20px;
}

input {
    background-color: var(--black);
    border: none;
    outline: none;
    padding: 20px;
}