<main-form [formGroup]="form">
    <ng-container header>Supplier Form</ng-container>
    <ng-container body>
        <div class="body">
            <ng-container formGroupName="references">
                <div class="input">
                    <my-select caption="Supplier" [options]="suppliers" formControlName="supplier" />
                </div>
                <div class="input">
                    <my-select caption="Product" [options]="products" formControlName="product" />
                </div>
            </ng-container>
            <div class="input">
                <my-date caption="Date" formControlName="date" />
            </div>
            <div class="input">
                <div class="quantity">
                    <numberbox caption="Quantity" formControlName="quantity" />
                </div>
            </div>
            <fieldset>
                <legend>Price</legend>
                <ng-container formGroupName="prices">
                    <div>
                        <numberbox caption="Purchase" formControlName="purchase" />
                    </div>
                    <div>
                        <numberbox caption="Sale" formControlName="sale" />
                    </div>
                </ng-container>
                <label>
                    <input type="checkbox" formControlName="current">
                    <span>Current Price</span>
                </label>
            </fieldset>
            <div class="description">
                <richtext caption="Description" formControlName="description" />
            </div>
        </div>
    </ng-container>
</main-form>