<main-form [formGroup]="form">
    <ng-container header>Supplier Form</ng-container>
    <ng-container body>
        <ng-container formGroupName="references">
            <my-select caption="Supplier" [options]="suppliers" formControlName="supplier" />
            <my-select caption="Product" [options]="products" formControlName="product" />
        </ng-container>
        <my-date caption="Date" formControlName="date" />
        <numberbox caption="Quantity" formControlName="quantity" />
        <ng-container formGroupName="prices">
            <numberbox caption="Purchase" formControlName="purchase" />
            <numberbox caption="Sale" formControlName="sale" />
        </ng-container>
        <label>
            <span>Current Price</span>
            <input type="checkbox">
        </label>
    </ng-container>
</main-form>