<main-form [formGroup]="form">
    <ng-container header>Sales Receipt</ng-container>
    <ng-container body>
        <section class="body">
            <div class="receipt">
                <div class="input">
                    <my-date caption="Date" formControlName="date" />
                </div>
                <div class="input" formGroupName="references">
                    <combobox caption="Customer" [data]="customers" formControlName="customer">
                        <ng-template #combo let-item>
                            <td [innerHTML]="item.marked"></td>
                        </ng-template>
                    </combobox>
                </div>
            </div>
            <sale-form [form]="form" [items]="sales()" (change)="changed()" />
            <div class="total">
                <div class="description">
                    <richtext caption="Description" formControlName="description" />
                </div>
                <div class="grand">
                    <div class="total-sub">
                        <numberbox caption="Discount" formControlName="gift" />
                    </div>
                    <div class="total-sub">
                        <numberbox caption="Paid" formControlName="received" />
                    </div>
                    <div class="total-sub">
                        <numberbox caption="Due" formControlName="due" />
                    </div>
                </div>
            </div>
        </section>
    </ng-container>
</main-form>