section {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.receipt {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;

    .input {
        display: grid;
        grid-template-columns: max-content 200px;
        align-items: end;
        column-gap: 10px;
    }
}

.total {
    display: grid;
    grid-template-columns: 1fr max-content;
    gap: 50px;
    align-items: end;

    .description {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    .total-sub {
        display: grid;
        grid-template-columns: max-content 130px;
        align-items: end;
        justify-self: end;
        gap: 10px;
    }
}

button {
    align-self: start;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: -30px;
    margin-left: -4px;
    transition: all .3s;

    svg {
        height: 35px;
        width: 35px;
    }

    &:hover {
        svg {
            fill: #00ff00;
        }
    }

}

.grand {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: end;
}

section.table {
    height: 400px;
    width: 900px;
    border-top: none;
    overflow: hidden;
}

table {
    height: 100%;
    border-spacing: 0;
    display: grid;
    grid-template-columns: 220px 1fr repeat(3, fit-content(90px));
    grid-template-rows: max-content fit-content(325px) 1fr max-content;
}

thead,
tbody,
tfoot,
tr {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1/-1;
}

thead {
    th {
        text-align: left;
    }
}

.tbody-space {
    border-left: 1px solid rgba(#fff, .1);
    border-right: 1px solid rgba(#fff, .1);
}

tr:has(.ng-touched.ng-invalid) {
    border: 1px solid red;
}

th {
    border-top: 1px solid rgba(#fff, .1);
    border-bottom: 1px solid rgba(#fff, .1);
    border-right: 1px solid rgba(#fff, .1);
    font-weight: 400;
    text-transform: uppercase;

    &:first-child {
        border-left: 1px solid rgba(#fff, .1);
    }
}

td {
    border-bottom: 1px solid rgba(#fff, .1);
    border-right: 1px solid rgba(#fff, .1);

    &:first-child {
        border-left: 1px solid rgba(#fff, .1);
    }
}

thead,
tfoot {
    position: sticky;
    z-index: 5;
    background-color: var(--brown);
}

thead {
    top: 0;
    box-shadow: 0px 2px 3px rgba(black, .7);

    th {
        padding: 10px;
        padding-bottom: 13px;
        border-bottom: none;
    }
}

tbody {
    overflow: auto;
    overflow-x: hidden;

    tr:hover {
        button {
            opacity: 1 !important;
            scale: 1 !important;
        }
    }

    td.price {
        // width: 120px;
        position: relative;
    }

    button {
        position: absolute;
        left: 0;
        top: 50%;
        translate: 0 -50%;
        opacity: 0;
        scale: 1 0;

        &:hover {
            svg {
                fill: #ff4646;
            }
        }
    }
}

tfoot {
    bottom: 0;
    box-shadow: 0px -2px 3px rgba(black, .7);

    th {
        padding: 3px 7px;
        border-top: none;
    }

    th:first-child {
        display: flex;
        align-items: center;
        justify-content: end;
        grid-column: 1/5;
    }
}

.price-input {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
    padding-right: 7px;
}