<p>home works!</p>
<input type="text">

<form [formGroup]="form" (ngSubmit)="submit()">
    <combobox [data]="customers" (render)="getData($event)" formControlName="customer">
        <ng-template #combo let-item>
            <td [innerHTML]="item.marked"></td>
        </ng-template>
    </combobox>

    <combobox [data]="products" formControlName="product">
        <ng-template #combo let-item>
            <td [innerHTML]="item.marked"></td>
        </ng-template>
    </combobox>
    <button type="submit">submit</button>
</form>