<table total selection (indeterminateE)="indeterminateChange($event)" [formGroup]="form">
    <thead>
        <tr>
            <td>
                <checkbox (changes)="selectAllChange($event)" formControlName="includeAll"
                    [indeterminate]="indeterminate()" />
            </td>
            <th>Date</th>
            <th>Due</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody formArrayName="receivables" [zaGridRows]="receivables.length">
        @for(r of receivables.controls; track r){
        <tr [formGroupName]="$index">
            <td>
                <checkbox (changes)="selectionChange($event,r)" formControlName="include"
                    [indeterminate]="indeterminates()[$index]" />
            </td>
            <td>
                <textbox [border]="false" formControlName="date" />
            </td>
            <td>
                <numberbox [border]="false" formControlName="due" />
            </td>
            <td>
                <numberbox [border]="false" formControlName="received" />
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr formGroupName="total">
            <th>total</th>
            <th>
                <numberbox [border]="false" formControlName="due" />
            </th>
            <th>
                <numberbox (changes)="totalReceivedChanged($event)" [border]="false" formControlName="received" />
            </th>
        </tr>
    </tfoot>
</table>