table {
    // background-color: red;
    width: 100%;
    border-spacing: 0;

    td,
    th {
        border: 1px solid rgba(#fff, .1);
    }

    th {
        border-bottom: none;

        &:not(:last-child) {
            border-right: none;
        }
    }

}