<table [formGroup]="form">
    <thead>
        <tr>
            <td>
                <input type="checkbox" formControlName="includeAll">
            </td>
            <th>Date</th>
            <th>Due</th>
            <th>Paid</th>
        </tr>
    </thead>
    <tbody formArrayName="receivables" [zaGridRows]="receivables.length">
        @for(r of receivables.controls; track r){
        <tr [formGroupName]="$index">
            <td>
                <input type="checkbox" formControlName="include">
            </td>
            <td>
                <textbox [border]="false" formControlName="date" />
            </td>
            <td>
                <numberbox [border]="false" formControlName="due" />
            </td>
            <td>
                <numberbox [border]="false" formControlName="received" />
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr formGroupName="total">
            <th>total</th>
            <th>
                <numberbox [border]="false" formControlName="due" />
            </th>
            <th>
                <numberbox [border]="false" formControlName="received" />
            </th>
        </tr>
    </tfoot>
</table>