:host {
    display: flex;
    height: auto;
    max-height: 200px;
    overflow: auto;
    position: absolute;
    top: calc(100% + 2px);
    background-color: var(--brown);
    z-index: 10000;
    width: auto;
    min-width: 100%;
    max-width: 350px;
    border-bottom: 1px solid rgba(#fff, .07);
    // position: relative;
}

table {
    border-collapse: collapse;
    width: 100%;

    tr.active {
        background-color: rgba(#fff, .07);
    }

    tr {
        border: 1px solid rgba(#fff, .1);
        cursor: pointer;
        transition: all .2s;

        &:hover {
            background: rgba(#fff, .07);
        }

        ::ng-deep {

            td,
            th {
                padding: 5px 7px;
            }

            td {
                white-space: nowrap;
            }
        }
    }
}