:host {
    display: flex;
    height: auto;
    max-height: 300px;
    overflow: auto;
    position: absolute;
    // top: 0;
    background-color: var(--brown);
    // z-index: 5;
}

table {
    border-collapse: collapse;
    width: 100%;

    tr.active {
        background-color: rgba(#fff, .07);
    }

    tr {
        border: 1px solid rgba(#fff, .1);

        ::ng-deep {

            td,
            th {
                padding: 5px 7px;
            }
        }
    }
}